* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 540px;
}

input {
    padding: 40px;
    border-radius: 40px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 40px;
}


